body {
    margin: 20px;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.profile-card {
    display: flex;
    margin-bottom: 20px;
    min-width: 415px;
}

.profile-avatar {
    border-radius: 50%;
    border: 3px solid #0074d9;
    background-color: #0074d9;
}

.user-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    margin: 0;
    font-size: 1.5em;
    color: #001f3f;
}

.profile-email {
    font-size: 1.3em;
    margin: 0;
}

.profile-email {
    columns: #0074d9;
}